@font-face {
  font-family: "qmfont"; /* Project id 1453491 */
  src: url('iconfont.woff2?t=1710695473972') format('woff2'),
       url('iconfont.woff?t=1710695473972') format('woff'),
       url('iconfont.ttf?t=1710695473972') format('truetype');
}

.qmfont {
  font-family: "qmfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qmicon-kaoshi:before {
  content: "\e62f";
}

.qmicon-xingbie:before {
  content: "\f0a5";
}

.qmicon-xingbie-nan:before {
  content: "\e619";
}

.qmicon-wangzhan:before {
  content: "\e6f5";
}

.qmicon-dizhi:before {
  content: "\e679";
}

.qmicon-yuanxiao:before {
  content: "\e635";
}

.qmicon-weixin:before {
  content: "\e61a";
}

.qmicon-qq:before {
  content: "\e60f";
}

.qmicon-zhiwei:before {
  content: "\e661";
}

.qmicon-didian:before {
  content: "\e625";
}

.qmicon-xingbie-nv:before {
  content: "\e615";
}

.qmicon-zhengzhi:before {
  content: "\e628";
}

.qmicon-minzu:before {
  content: "\e885";
}

.qmicon-celiang:before {
  content: "\e604";
}

.qmicon-user:before {
  content: "\e60e";
}

.qmicon-wujiaoxing:before {
  content: "\e70b";
}

.qmicon-shezhi:before {
  content: "\e657";
}

.qmicon-ganxingqu:before {
  content: "\e62d";
}

.qmicon-xin:before {
  content: "\e634";
}

.qmicon-pingjia:before {
  content: "\e639";
}

.qmicon-xingxing:before {
  content: "\e642";
}

.qmicon-shu:before {
  content: "\e633";
}

.qmicon-dingzhi:before {
  content: "\e605";
}

.qmicon-company:before {
  content: "\e618";
}

.qmicon-rongyu:before {
  content: "\e629";
}

.qmicon-wodexiao:before {
  content: "\e62c";
}

.qmicon-jingyan:before {
  content: "\e602";
}

.qmicon-bangongbao:before {
  content: "\e616";
}

.qmicon-phone:before {
  content: "\e63a";
}

.qmicon-calendar:before {
  content: "\e609";
}

.qmicon-youxi_tianchong:before {
  content: "\e61e";
}

.qmicon-rili:before {
  content: "\e63b";
}

.qmicon-weizhi:before {
  content: "\e63d";
}

.qmicon-xueshimao:before {
  content: "\e6b1";
}

.qmicon-qianbi:before {
  content: "\e7c8";
}

.qmicon-shoutibao:before {
  content: "\e656";
}

.qmicon-man:before {
  content: "\e612";
}

.qmicon-woman:before {
  content: "\e617";
}

